[submodule "libp2p"]
	path = libp2p
	url = https://github.com/sekrit-twc/libp2p.git
[submodule "AviSynthPlus"]
	path = AviSynthPlus
	url = https://github.com/AviSynth/AviSynthPlus.git
	branch = 3.7
[submodule "vapoursynth"]
	path = vapoursynth
	url = https://github.com/vapoursynth/vapoursynth.git
